<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.Enterprise.Viewing.ReportSource" version="13.0.4003" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4003" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4003" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4003" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4003" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
</packages>