<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SYSConStr" connectionString="Data Source=(local);Initial Catalog=SYS;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
    <add name="DRNConStr" connectionString="Data Source=(local);Initial Catalog=DRN;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
