<table id=[TABLEID] style="display:none" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="[tooltip_files]/tool.gif" >
		</td>
	</tr>	
	<tr bgcolor="#FFFFE1">
		<td>		
			<table width="300px" style="border:1;border-style:dotted" bgcolor="#FFFFE1">
				<tr>
					<td>
							<font face="tahoma" size="2">&nbsp;[TEXT]</font>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
</table>